th a {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.btn-xs {
  --bs-btn-padding-y: 0.15rem;
  --bs-btn-padding-x: 0.4rem;
  --bs-btn-font-size: 0.75rem;
  --bs-btn-border-radius: 0.2rem;
}
