<form n:name="form" class="d-flex align-items-center ajax mb-0">
    <label n:name="pageSize" class="me-2 mb-0 small text-muted" />
    <select n:name="pageSize" class="form-select form-select-sm w-auto"></select>
</form>
