<form n:name="form" class="d-flex align-items-center ajax mb-0">
    <label n:name="pageSize" class="me-2 mb-0" />
    <select n:name="pageSize" id="pageSizeSelect" class="form-select form-select-sm"></select>
</form>
